
<div class="container">
    <app-menu></app-menu>
    <app-contact [contactInfo]="phoneNumber"></app-contact>
    <app-help (addNewUser)="newUser($event)"></app-help>
    <app-users 
        [users]="users"
        (deleteUserByIndex)="deleteUser($event)"
    >
    </app-users>
    <h1>My Info</h1>
    <app-my-info (deleteUserByIndex)="delUser($event)" [userInfo]="myInfo"></app-my-info>
<div class="row">
    <div class="box" [class.mine]="isValid" *ngFor="let user of users">
        <h2 *ngIf="user.username !='Varun' else myText">{{ user.username }}</h2>
        <ng-template #myText>
            Varun is still working
        </ng-template>
        <p>{{ user.description }}.</p>
    </div> 
</div>
<button (click)="changeBg()">Change Background</button>

</div>
    
<!-- <h1>{{ title }} Testing done</h1>
<app-contact></app-contact> -->